MAIN_DOMAIN="xxxxxxxx.com"

#use define('EXEC_MODE', $_ENV['EXEC_MODE']);  Local or Product
EXEC_MODE="Local" 
APP_NAME="お手伝いポイント管理"

#DB接続情報
SV="localhost"
DBNAME="otetsudai_db" #
DBUSER="okzkai"
PASS="xxxxxxxx"
#マイグレーション用ユーザ
M_DBUSER="okzkai"
M_PASS="xxxxxxxx"

#secret key(solt)
KEY="xxxxxxxx"

SYSTEM_NOTICE_MAIL="sysinfo@xxxxxxxx.com" # バグ発生時の管理者への通知先

#メール送信用メールアカウント
HOST="mail.xxxxxxxx.com"
PORT=587
FROM="no-reply@xxxxxxxx.com"
PROTOCOL="SMTP"
POP_HOST="mail.xxxxxxxx.com"
POP_USER="no-reply@xxxxxxxx.com"
POP_PASS="wYG%xLwt;lKu"